# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 1. PYTHON
 2. R
 3. SCALA
 4. JAVA
 5. SQL
 6. JULIA

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|R Studioâ€™s|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [20]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [25]:
200/60

3.3333333333333335

# Objectives:

***unordered list:*** 
 - popular languages that Data Scientists
 - list data science libraries
 - Data Science tools
 - arithmetic expression examples
 - convert minutes to hours

## Author

   RAHUL  RAJESHBHAI RAJPUT